
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Lunches</title>
		<link rel="stylesheet" href="/assets/style.css" type="text/css" />
		<script src="https://code.jquery.com/jquery.js"></script>
		
	</head>
	<body>
		{{{ body }}}
	</body>
	<script src="/assets/burgerFrontEnd.js"></script>
</html>
